header {
    height: 63px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 36px;
}

.location {
    background-color: #EAEAEA;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 17px;
    align-items: center;
    font-size: 16px;
}

.location input {
    border: 0;
    background-color: #EAEAEA;
    width: 109px;
}

.explore {
    text-align: center; /* Centre le texte à l'intérieur */
    padding: 39px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;/* Pour centrer la section horizontalement */
    margin-right: auto; /* Pour centrer la section horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments enfants horizontalement */
}

.explore h2 {
    font-size: 24px;
    margin-bottom: 10px;
    width: 275px;
    height: 68px;
}

.explore p {
    font-size: 18px;
    color: #777;
    margin-bottom: 20px;
    width: 315px;
    height: 46px;
}

.cta-button {
    display: inline-block;
    background: linear-gradient(100deg, #9356DC, #FF79DA);
    border-radius: 25px;
    border: none;
    width: 218px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.fonctionnement-home {
    margin-top: 40px;
    text-align: left; /* Aligner le texte à gauche */
    padding-left: 20px ; /* Espacement du contenu vers la gauche */
}

.fonctionnement-home h2 {
    font-size: 24px;
    margin: 48px 80px 26px 20px;
    width: 275px;
    height: 31px;
}

.step {
    display: flex;
    align-items: center;
    background-color: #F6F6F6; /* Couleur du fond */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre pour donner un effet de profondeur */
    padding: 20px; /* Espace intérieur autour du contenu */
    border-radius: 20px; /* Coins arrondis */
    margin: 20px; /* Espacement extérieur entre les éléments */
    gap: 20px; /* Espacement entre les icônes et le texte */
    position: relative; /* Position pour permettre l'alignement des cercles */
    left: -5px;
}

.circle {
    width: 24px; 
    height: 24px;
    background-color: #9356DC; 
    color: white;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    left: -15px; 
}

.step-content {
    margin-left: 50px; /* Décale le contenu à droite pour laisser de l'espace au cercle */
    display: flex;
    flex-direction: row;
    align-items: center; /* Alignement vertical du texte et de l'icône */
    justify-content: flex-start;
    width: 100%;
}

.step i {
    font-size: 20px;
    color: #7E7E7E; /* Couleur de l'icône */
    margin-right: 10px; /* Espacement entre l'icône et le texte */
}

.step h3 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0;
}
/*Restaurant*/

.card-container img{
    width: 340px;
    height: 251px;
    border-radius: 15px;
}

.card img{
    width: 346px;
    height: 240px;
}