header {
    background-color: white;
    padding: 14px 0px;
    text-align: left;
    align-items: center;
    display: flex;
}

.restaurant-image {
    width: 100%;
    height: 247px;

    img {
        height: 275px;
        object-fit: cover;
        width: 100%;
    }
}

/* Fleche de retour */
.back {
    position: absolute;
    color: #333;
    transition: color 0.3s ease;
    left: 20px;
    top: 33px;

    i {
        font-size: 24px;
        margin-right: 0;
    }

    &:hover {
        color: #000000;
    }
}

/* Carte du menu */

.menu-card {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: -60px auto 0;
    position: relative;
    z-index: 1;
    max-width: 1024px;

    .menu-title-container {
        margin-bottom: 10px;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 41px;

        .menu-title {
            font-family: "Shrikhand";
            font-size: 28px;
            font-weight: 400;
        }

        .menu-section {
            margin-top: 42px;
        }
    }
}



/* Titre de chaque section avec une ligne verte */
.section-title {
    font-size: 16px;
    display: inline-block;
    position: relative;
    margin-bottom: 24px;
    font-weight: 300;
    text-transform: uppercase;

    .section-title::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50%;
        height: 3px;
        background-color: #2ecc71;
    }
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    gap: 5px;
    cursor: pointer;
    height: 69px;
    box-sizing: border-box;
    overflow: hidden;

    div:first-child {
        flex-grow: 1;
        text-wrap: nowrap;
        overflow: hidden;

        .item-name,
        .item-description {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .fa-check {
        position: relative;
        right: 0px;
        min-width: 59px;
        height: 69px;
        border-radius: 0px 15px 15px 0px;
        background-color: #99E2D0;
        margin-right: -74px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 750ms;

        /* Cercle blanc */
        &::before {
            font-size: 13px;
            color: #99E2D0;
            background-color: white;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &:hover {
        .fa-check {
            margin-right: -15px;
            transform: translateX(0);
        }
    }
}

.item-name {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;

    .description {
        font-size: 15.04px;
        font-weight: 300;

        .price {
            font-weight: 700;
            font-size: 15.04px;
            color: #353535;
            margin: 13.5px;
        }
    }
}

/* Bouton Commander */
.order-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}



/* Animations */
.menu-item {
    opacity: 0;
    animation: zoomInRotate 0.6s ease forwards;
    transition: all 0.3s ease-in-out;
}

.menu-section .menu-item:nth-child(2) {
    animation-delay: 0.3s;
}

.menu-section .menu-item:nth-child(3) {
    animation-delay: 0.6s;
}

.menu-section .menu-item:nth-child(4) {
    animation-delay: 0.9s;
}

.menu-section .menu-item:nth-child(5) {
    animation-delay: 1.2s;
}

.menu-section:nth-child(2) .menu-item:nth-child(2) {
    animation-delay: 1.2s;
}

.menu-section:nth-child(2) .menu-item:nth-child(3) {
    animation-delay: 1.5s;
}

.menu-section:nth-child(2) .menu-item:nth-child(4) {
    animation-delay: 1.8s;
}

.menu-section:nth-child(3) .menu-item:nth-child(2) {
    animation-delay: 2.1s;
}

.menu-section:nth-child(3) .menu-item:nth-child(3) {
    animation-delay: 2.4s;
}

.menu-section:nth-child(3) .menu-item:nth-child(4) {
    animation-delay: 2.7s;
}

/* Keyframes pour l'animation d'apparition */
@keyframes zoomInRotate {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(-10deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

@media (min-width: 1024px) {
    .menu-title-container {
        justify-content: center;
        gap: 24px;
    }

    .icone-container {
        top: 0px;
    }


    .menu-card {
        padding: 50px 80px;
    }

    .container-plats {
        margin: auto;
        max-width: 600px;
    }
}