@charset "UTF-8";
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  animation: fadeOut 1s ease-in-out 3s forwards;
}

/* Styles pour les petits points */
.dots-points {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #99E2D0;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate, colorChange 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s; /* Délai pour le deuxième point */
}

.dot:nth-child(3) {
  animation-delay: 0.4s; /* Délai pour le troisième point */
}

/* Animation de rebond */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes colorChange {
  0% {
    background-color: #9356DC;
  }
  50% {
    background-color: #FF79DA;
  }
  100% {
    background-color: #99E2D0;
  }
}
/* Animation de disparition */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
header {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 36px;
}

.location {
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 17px;
  align-items: center;
  font-size: 16px;
  position: relative;
}

.location input {
  border: 0;
  background-color: #EAEAEA;
  width: 109px;
}

.explore {
  text-align: center;
  padding: 39px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}

.explore h2 {
  font-size: 24px;
  margin-bottom: 10px;
  width: 275px;
  height: 68px;
}

.explore p {
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
  width: 315px;
  height: 46px;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background: linear-gradient(0deg, #A56DE8, #FF85E5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.fonctionnement-home {
  margin-top: 40px;
  margin-bottom: 68px;
  text-align: left;
  padding-left: 20px;
}

.fonctionnement-home h2 {
  font-size: 24px;
  margin: 48px 80px 26px 0px;
  width: 275px;
  height: 31px;
}

.step {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  gap: 20px;
  position: relative;
  left: -5px;
  cursor: pointer;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  left: -15px;
}

.step-content {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.step i {
  font-size: 20px;
  color: #7E7E7E;
  margin-right: 10px;
}

.step h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

/*Restaurant*/
.restaurant {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 57px 18px;
  background-color: #F6F6F6;
}

h2 .restaurant {
  width: 275px;
  size: 24px;
}

/* Style de chaque carte de restaurant */
.restaurant-card {
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* Image des cartes */
.restaurant-card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 231px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurant-card h4 {
  font-size: 18px;
  height: 20px;
  display: inline-block;
}

.restaurant-card p {
  height: 24px;
  font-weight: 300;
  font-size: 17px;
  color: #000000;
}

.title-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 25px 12px 13px;
}

/* Conteneur pour le titre et l'icône */
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

/* Icône du cœur alignée à droite */
.icon-container {
  position: relative;
  width: 22px;
  height: 22px;
}
.icon-container i {
  position: absolute;
  color: #101010;
  font-size: 22px;
  border: 1px;
}
.icon-container .fa-solid {
  opacity: 0;
  transition: all 1s;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.icon-container .fa-solid:hover {
  opacity: 1;
}

/* Label "Nouveau" à droite */
.new-label {
  position: absolute;
  width: 61.37px;
  height: 16px;
  top: 40px;
  right: 40px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  padding: 5px 10px;
}

@media (min-width: 1024px) {
  /* Section Explorer */
  .explore {
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
  }
  .explore h2 {
    font-size: 32px;
    width: auto;
    margin-bottom: 20px;
  }
  .explore p {
    font-size: 20px;
    width: auto;
  }
  /* Fonctionnement Home - alignement horizontal */
  .step-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .fonctionnement-home {
    padding: 0px 46px;
    max-width: 1440px;
  }
  .fonctionnement-home h2 {
    font-size: 24px;
  }
  .step {
    flex: 1;
    padding: 30px;
    margin: 0;
    gap: 30px;
    border-radius: 15px;
  }
  .step-content {
    margin-left: 20px;
  }
  /* Restaurants section en grille */
  .restaurant {
    padding: 60px 46px;
  }
  .restaurant-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 100px;
    max-width: 1440px;
  }
  .restaurant-card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .restaurant-card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .restaurant-card img {
    height: 250px;
  }
  .restaurant-card h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .restaurant-card p {
    font-size: 18px;
  }
}
header {
  background-color: white;
  padding: 14px 0px;
  text-align: left;
  align-items: center;
  display: flex;
}

.restaurant-image {
  width: 100%;
  height: 247px;
}
.restaurant-image img {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/* Fleche de retour */
.back {
  position: absolute;
  color: #333;
  transition: color 0.3s ease;
  left: 20px;
  top: 33px;
}
.back i {
  font-size: 24px;
  margin-right: 0;
}
.back:hover {
  color: #000000;
}

/* Carte du menu */
.menu-card {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: -60px auto 0;
  position: relative;
  z-index: 1;
  max-width: 1024px;
}

.menu-title-container {
  margin-bottom: 10px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 41px;
}
.menu-title-container .menu-title {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
}

.menu-section {
  margin-top: 42px;
}

/* Titre de chaque section avec une ligne verte */
.section-title {
  font-size: 16px;
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: #2ecc71;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  gap: 5px;
  cursor: pointer;
  height: 69px;
  box-sizing: border-box;
  overflow: hidden;
}
.menu-item div:first-child {
  flex-grow: 1;
  text-wrap: nowrap;
  overflow: hidden;
}
.menu-item div:first-child .item-name, .menu-item div:first-child .item-description {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item .fa-check {
  position: relative;
  right: 0px;
  min-width: 59px;
  height: 69px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  margin-right: -74px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 750ms;
  /* Cercle blanc */
}
.menu-item .fa-check::before {
  font-size: 13px;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item:hover .fa-check {
  margin-right: -15px;
  transform: translateX(0);
}

.item-name {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.item-description {
  font-size: 15.04px;
  font-weight: 300;
}

.item-price {
  font-weight: 700;
  font-size: 15.04px;
  color: #353535;
  margin: 13.5px;
}

/* Bouton Commander */
.order-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Animations */
.menu-item {
  opacity: 0;
  animation: zoomInRotate 0.6s ease forwards;
  transition: all 0.3s ease-in-out;
}

.menu-section .menu-item:nth-child(2) {
  animation-delay: 0.3s;
}

.menu-section .menu-item:nth-child(3) {
  animation-delay: 0.6s;
}

.menu-section .menu-item:nth-child(4) {
  animation-delay: 0.9s;
}

.menu-section:nth-child(2) .menu-item:nth-child(2) {
  animation-delay: 1.2s;
}

.menu-section:nth-child(2) .menu-item:nth-child(3) {
  animation-delay: 1.5s;
}

.menu-section:nth-child(2) .menu-item:nth-child(4) {
  animation-delay: 1.8s;
}

.menu-section:nth-child(3) .menu-item:nth-child(2) {
  animation-delay: 2.1s;
}

.menu-section:nth-child(3) .menu-item:nth-child(3) {
  animation-delay: 2.4s;
}

.menu-section:nth-child(3) .menu-item:nth-child(4) {
  animation-delay: 2.7s;
}

/* Keyframes pour l'animation d'apparition */
@keyframes zoomInRotate {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
@media (min-width: 1024px) {
  .menu-title-container {
    justify-content: center;
    gap: 24px;
  }
  .icone-container {
    top: 0px;
  }
  .menu-card {
    padding: 50px 80px;
  }
  .container-plats {
    margin: auto;
    max-width: 600px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

footer {
  background-color: #353535;
  padding: 20px;
  color: #ffffff;
  height: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 186px;
  gap: 16px;
}

.footer-logo {
  font-family: "Shrikhand";
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 16px;
  width: 139px;
  height: 27px;
  font-weight: 400;
}

.footer-links {
  list-style: none;
  padding: 0;
  width: 190px;
  height: 99px;
}

.footer-links li {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-links li i {
  margin-right: 10px;
  width: 11px;
  height: 13px;
  margin-top: 2px;
  color: #FFFFFF;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  footer ul:first-child li {
    font-weight: 500;
  }
  .footer-container {
    flex-direction: row-reverse;
    width: 100%;
    height: 114px;
    gap: 60px;
    align-items: center;
    position: relative;
    top: 20px;
  }
  .footer-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */