@charset "UTF-8";
header {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 36px;
}

.location {
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 17px;
  align-items: center;
  font-size: 16px;
  position: relative;
}

.location input {
  border: 0;
  background-color: #EAEAEA;
  width: 109px;
}

.explore {
  text-align: center;
  padding: 39px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}

.explore h2 {
  font-size: 24px;
  margin-bottom: 10px;
  width: 275px;
  height: 68px;
}

.explore p {
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
  width: 315px;
  height: 46px;
}

.cta-button {
  display: inline-block;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 25px;
  border: none;
  width: 218px;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease; /* Transition pour les effets */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.cta-button:hover {
  background: linear-gradient(0deg, #A56DE8, #FF85E5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid #008CFF;
  transform: scale(1.05);
}

.fonctionnement-home {
  margin-top: 40px;
  margin-bottom: 68px;
  text-align: left;
  padding-left: 20px;
}

.fonctionnement-home h2 {
  font-size: 24px;
  margin: 48px 80px 26px 0px;
  width: 275px;
  height: 31px;
}

.step {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  gap: 20px;
  position: relative;
  left: -5px;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  left: -15px;
}

.step-content {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.step i {
  font-size: 20px;
  color: #7E7E7E;
  margin-right: 10px;
}

.step h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

/*Restaurant*/
.restaurant {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 57px 18px;
  background-color: #F6F6F6;
}

h2 .restaurant {
  width: 275px;
  size: 24px;
}

/* Style de chaque carte de restaurant */
.restaurant-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Image des cartes */
.restaurant-card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 231px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurant-card h4 {
  font-size: 18px;
  width: 267px;
  height: 20px;
  margin: 16px 63px 5px 0px;
  display: inline-block;
}

.restaurant-card p {
  width: 247px;
  height: 24px;
  font-weight: 300;
  font-size: 17px;
  margin: 0px 80px 16px 16px;
  color: #000000;
}

.title-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Conteneur pour le titre et l'icône */
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 15px;
}

/* Icône du cœur alignée à droite */
.icon-container {
  position: relative;
  top: -5px;
  width: 22px;
  height: 22px;
}
.icon-container i {
  position: absolute;
  color: #101010;
  font-size: 22px;
  border: 1px;
}
.icon-container .fa-solid {
  opacity: 0;
  transition: all 1s;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.icon-container .fa-solid:hover {
  opacity: 1;
}

/* Label "Nouveau" à droite */
.new-label {
  position: absolute;
  width: 61.37px;
  height: 16px;
  top: 15px;
  right: 9px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  padding: 5px 10px;
}

footer {
  background-color: #353535;
  padding: 20px;
  color: #ffffff;
  height: 186px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 186px;
  gap: 16px;
}

.footer-logo {
  font-family: "Shrikhand";
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 16px;
  width: 139px;
  height: 27px;
  font-weight: 400;
}

.footer-links {
  list-style: none;
  padding: 0;
  width: 190px;
  height: 99px;
}

.footer-links li {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-links li i {
  margin-right: 10px;
  width: 11px;
  height: 13px;
  margin-top: 2px;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}/*# sourceMappingURL=style.css.map */